.select-style {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.option {
  text-align: center;
  text-transform: uppercase;
}

.add-cart-btn {
  width: 10rem;
  display: block;
  border: none;
  background-color: skyblue;
  padding: 0.5rem;
  border-radius: 0.1rem;
}
