<section class="product-overview">
  <div class="product-container">
    <img
      [src]="this.current_style?.photos[0].thumbnail_url"
      class="main-image"
    />
    <div class="clothing-details">
      <p class="clothing-type">{{ productData?.category }}</p>
      <p class="clothing-title">{{ productData?.name }}</p>
      <span class="clothing-desc">{{ productData?.description }}</span>
      <span class="clothing-slogan">{{ productData?.slogan }}</span>
      <app-stars [roundedRating]="4.5"></app-stars>
      <p class="clothing-style-name">{{ this.current_style?.name }}</p>
      <ul class="related-styles-list">
        <img
          class="related-styles"
          [src]="style.photos[0].url"
          *ngFor="let style of productStyles?.result"
          (click)="changePhoto(style)"
        />
      </ul>
      <app-form-sizes></app-form-sizes>
    </div>
  </div>
</section>
